:host {

    .mail-view {
        padding: 0 15px;

        .mail-from {
            font-weight: normal;
        }

        .full-message {
            color: lighten( black, 50% );
        }
    }

    .mail-reply {
        background: #e2e2e2;
        padding: 15px;

        textarea {
            background: white;
            border: 1px solid #d2d2d2;
            font-family: Arial, Helvetica, sans-serif;
            font-size: .9rem;
            margin-bottom: 10px;
            min-height: 50px;
            padding: 8px;
            resize: none;
            width: 95%;
        }

        button {
            width: 100%;
        }
    }
}