<div class="mail-view">
    <div class="message" *ngIf="( message$ | async ) as message; else loading">
        <h2 class="mail-from">{{ message.from }}</h2>
        <p class="full-message">{{ message.full }}</p>
        <p class="message">{{ message.summary }}</p>
    </div>
    <ng-template #loading> Loading message...</ng-template>
</div>
<div class="mail-reply">
    <textarea (change)="updateReply($event.target.value)" placeholder="Type your reply..." [value]="reply"></textarea>
    <button type="button" (click)="sendReply()">Send</button>
</div>
