:host {
    border-top: 1px solid #E6E6E6;
    display: block;

    &:last-child {
        border-bottom: 1px solid #E6E6E6;
    }
}
  
.mail-item {
    padding: 15px 30px 15px 25px;
    display: block;
    text-decoration: none;
    color: inherit;
    border-left: 5px solid transparent;

    &:hover {
        background: rgba(0, 0, 0, 0.02);
    }

    h3 {
        font-size: 18px;
        margin: 0;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
        }
    }

    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.active {
        background: #e7ecf3;
        border-left-color: #9f72e6;
    }
}