<a class="mail-item" [routerLink]="[ '/mail', { outlets: { 'single-message': [ 'message', message.id ] } } ]" routerLinkActive="active">
    <h3> 
        {{ message.from}}
        <span>{{ message.timestamp | date: 'shortTime' }}</span>
    </h3>
    <p>{{ message.summary }}</p>
</a>