<div class="app">
    <header>
        <img src="assets/images/logo.svg">
    </header>
    <div class="app__content">
        <nav>
            <a [routerLink]="[ '/mail', { outlets: { primary: 'folder/inbox', 'single-message': null } } ]" routerLinkActive="active">Inbox</a>
            <a [routerLink]="[ '/mail', { outlets: { primary: 'folder/trash', 'single-message': null } } ]" routerLinkActive="active">Trash</a>
            <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>