<div class="mail">
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
</div>
<div class="mail">
    <router-outlet name="single-message"></router-outlet>
</div>